/****** Font Selection ******/
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;	
}

/***** Navigation Section *****/
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #ddd;
	z-index: 9999;
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 1.04rem;
	color: #838994;
	margin-top: 1.55rem;
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
.top-navigation > .content {
	height: 4.375rem; 
}
.content {
	padding: 0 0.938rem;
	min-width: 37.5rem;
	margin: 0 auto;
}
img.logo {
    height: 70px;
}
.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}
.introduction h1 {
	margin-top: 17.155rem;
	font-size: 3.125rem;
}
.introduction h3 {
    margin-top: -1.35rem;
    font-size: 1.563rem;
}
.introduction h1, .introduction h3 {
	color: #fff;
	text-align: center;
	font-weight: 300;
}
.introduction .buttons {
    color: white;
    text-align: center;
}
.buttons {
	margin-top: -0.15rem;
}
button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: .925rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}
button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}
.cases > h2, .cases > h3 {
    font-family: 'Roboto', sans-serif;
	text-align: center;
}
.cases > h2 {
	font-size: 2.75em;
	font-weight: 300;
	margin-top: 2.75em;

}
.cases > h3 {
	font-size: 1em;
}
.flex-container, .text-container {
  width: 1000px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px; 
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.text-item {
  margin-top: 1em;
  margin-left: -3.75em;
}
.text-item > h3 {
  font-size: 1.5em;
  font-weight: 400;	
}
.social {
	width: 50%;
    padding: 0;
    margin: auto;
}
.content-footer {
	margin: 6.5em auto;
}
.icons {
	width: 225px;
	margin: 0 auto;
	list-style-type: none;
	display: inline-flex;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
}

i {
	padding: 0 1.1em;
	width: 50px;
	margin: 0 auto;
}
p {
	text-align: center;
	padding: 1em 0;
}

@media (min-width: 75rem){
	.content {
	    width: 60%;
	}
}